<header class="site-header">
  <div class="header-container">
    <a class="brand" routerLink="/courses">
      <img src="assets/logo/midnight-sun-logo.svg" alt="" />

      <span class="brand-text">
        <span class="brand-name">
          <span class="midnight">Midnight</span>
          <span class="sun">Sun</span>
        </span>

        <span class="university">University Sweden</span>
      </span>
    </a>
    <nav aria-label="Main navigation">
      <a routerLink="/" [class.active]="isCoursesActive()"
        ><img src="assets/icons/school_24dp_CURRENTCOLOR.svg" alt="" aria-hidden="true" /><span
          >Courses</span
        ></a
      >

      <a routerLink="/schedule" routerLinkActive="active"
        ><img src="assets/icons/calendar_24dp_CURRENTCOLOR.svg" alt="" aria-hidden="true" /><span
          >Planner</span
        ></a
      >
    </nav>
  </div>
</header>
